<!-- soc_lent_index -->
	<div id="from_footer" class="box">
		
	<ul class="soc_lent_index">
		<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
	</ul>
	 
</div>	<!-- //soc_lent_index -->

	<!-- footer -->
	<footer class="footer" id="footer">

		<div class="box_fluid bg_footer1">
			<div class="box footer1">
				<div class="col5">
					<h2 class="h2_bottom">Category</h2>
					<ul class="menu_bottom">
						
						<li><a href="#" class="active">Home</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Eshop</a></li>
						<li><a href="#">Features</a></li>
						<li><a href="#">New collections</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contact</a></li>							
					</ul>
				</div>

				<div class="col5">
					<h2 class="h2_bottom">Our Account</h2>
					<ul class="menu_bottom">
						<li><a href="#">Your Account</a></li>
						<li><a href="#">Personal information</a></li>
						<li><a href="#">Addresses</a></li>
						<li><a href="#">Discount</a></li>
						<li><a href="#">Orders history</a></li>
						<li><a href="#">Addresses</a></li>
						<li><a href="#">Search Terms</a></li>
					</ul>
				</div>

				<div class="col5">
					<h2 class="h2_bottom">Our Support</h2>
					<ul class="menu_bottom">							
						<li><a href="#">Site Map</a></li>
						<li><a href="#">Search Terms</a></li>
						<li><a href="#">Advanced Search</a></li>
						<li><a href="#">Mobile</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Mobile</a></li>
						<li><a href="#">Addresses</a></li>
					</ul>
				</div>

				<div class="col5">
					<h2 class="h2_bottom">Newsletter</h2>
					<p>Join thousands of other people subscribe to our news</p>

					<!-- subscribe -->
					<form class="subscribe" action="#" method="post">
						<input class="text" type="text" name="sub_mail" value="" placeholder="Insert email">
						<input class="submit" type="submit" value="submit">
					</form>
					<!-- //subscribe -->

					<!-- payment -->
					<ul class="payment">
						<li><img src="/img/payment/1.jpg" width="36" height="22" alt=""></li>
						<li><img src="/img/payment/2.gif" width="36" height="22" alt=""></li>
						<li><img src="/img/payment/3.jpg" width="36" height="22" alt=""></li>
						<li><img src="/img/payment/4.jpg" width="36" height="22" alt=""></li>
						<li><img src="/img/payment/5.gif" width="36" height="22" alt=""></li>
						<li><img src="/img/payment/6.jpg" width="36" height="22" alt=""></li>
					</ul>
					<!-- //payment -->
				</div>

				<div class="col5">
					<h2 class="h2_bottom">About Us</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
					<div class="contacts_bottom">
						<p><span class="name">Phone:</span> <a class="tel" href="tel:19993429876">1-999-342-9876</a>
						<p><span class="name">E-mail:</span> <a class="mail" href="mailto:19993429876">info@surfhouse.com</a></p>
					</div>
				</div>

			</div>
		</div>
		<div class="box_fluid bg_footer2">
			<div class="box footer2">
				<div class="copyright">
					&copy; 2014  SURFHOUSE. <span class="pl">All rights reserved - BSN</span>
				</div>

				<!-- soc_bottom -->
				<ul class="soc_bottom">
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
				</ul>
				<!-- //soc_bottom -->
				<div class="clear"></div>
			</div>			
		</div>
	</footer>
	
	<!--// footer-->
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>

<!-- prettyPhoto 2_2 -->
<script src="/lib/pretty/js/jquery.prettyPhoto.js"></script>
<script>
	$(function(){
		$("a[rel^='prettyPhoto']").prettyPhoto({
		  overlay_gallery:false
		});
	});
</script>
<!-- //prettyPhoto 2_2 -->

<script src="/lib/all.js"></script>	
</body>
</html>