<div class="box_fluid bg_header mb_-20">
		<div class="box">
		  <header class="header header_index" id="header">
		  	<a href="/" class="logo" id="logo"><img src="img/logo.png" width="125" height="111" alt="Surfhouse"></a>

		  	<!-- soc_top -->
			<ul class="soc_top">
				<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
			</ul>
			<!-- //soc_top -->

		    <div class="clear"></div>
		  </header>
		</div>

		<div class="box">
			<div class="box_welcome">
				<div class="welcome">
					<h1>{{ title }}</h1>
					{{ data }}
				</div>

				<div class="anonse_top">
					<h2>JP Funride 2014</h2>
					<p>Super easy going freeride boards based on the X-Cite Ride shape concept with additional control and super easy jibing.</p>
					<a class="buy" href="#">buy now</a>
				</div>

				<div class="clear"></div>
			</div>
		</div>
	</div>