<div class="box_fluid bg_header mb_-20">
	<div class="box">
	  <header class="header header_inner" id="header">
	  	<a href="/" class="logo" id="logo"><img src="/img/logo.png" width="125" height="111" alt="Surfhouse"></a>
		
  		<!--
  		<div class="user">
  	  	Добро пожаловать guest <br />
			<a href="/auth/">Авторизоваться</a>
			<a href="/registration/">Зарегистрироваться</a> 
			<a href="/logout/">Выйти</a>
  		</div>
		-->
	  	<!-- soc_top -->
  		<ul class="soc_top">
  			<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
  			<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
  			<li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
  			<li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
  			<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
  		</ul>
  		<!-- //soc_top -->
      
      <!-- basket 
      <div class="basket_top">
        Товаров <a href="/emarket/">в корзине</a>: <span id="basket_top_amount">0</span> шт. 
        <br>
        на сумму <span id="basket_top_price"> </span> руб.
      </div>
       //basket -->

	    <div class="clear"></div>
	  </header>
	</div>
</div>	