{% include 'head.inc.html' %}

<body>
<div class="container">

	<!-- header-->
	{% include 'header_index.inc.html' %}
	<!-- //header-->
	
	<div class="mh">
		<!-- content lcol -->
		<div class="box">
			<!-- leftcolumn -->
			{% include 'leftcolumn1.inc.html' %}
			<!-- //leftcolumn -->	

			<div class="middle-box-left">
				<div class="middle bg_middle">
			  		<!-- New products -->
			  		<h2 class="h2_prod">New products</h2> 
					<ul class="products_index">
						<li>
							<a href="productpage.html">
								<span class="img akcent new">
									<img src="img/cat/1_prev.jpg" width="250" height="235" alt="">
								</span>
								<span class="box_zag_price">
									<span class="zag">Single Thruster 2014</span>
									<span class="box_price">
										<span class="price">€.578.50</span>
										<span class="old_price">€.599.50</span>
									</span>
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="img akcent hot">
									<img src="img/zaglushka.gif" width="250" height="235" alt="">
								</span>
								<span class="box_zag_price">
									<span class="zag">Freestyle Wave FSW</span>
									<span class="box_price">
										<span class="price">€.770.50</span>
										<span class="old_price">€.1,270.15</span>
									</span>
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="img akcent top"><img src="img/zaglushka.gif" width="250" height="235" alt=""></span>
								<span class="box_zag_price">
									<span class="zag">The White Collection SURFBOARD 2014</span>
									<span class="box_price">
										<span class="price">€.1,580.70</span>
										
									</span>
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="img akcent sale"><img src="img/zaglushka.gif" width="250" height="235" alt=""></span>
								<span class="box_zag_price">
									<span class="zag">OG scallop solid</span>
									<span class="box_price">
										<span class="price">€.765.00</span>
										
									</span>
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="img"><img src="img/zaglushka.gif" width="250" height="235" alt=""></span>
								<span class="box_zag_price">
									<span class="zag">Strripe 19 QS</span>
									<span class="box_price">
										<span class="price">€.230.50</span>
										
									</span>
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="img"><img src="img/zaglushka.gif" width="250" height="235" alt=""></span>
								<span class="box_zag_price">
									<span class="zag">Yoke 19 QS</span>
									<span class="box_price">
										<span class="price">€.1,130.70</span>
										
									</span>
								</span>
							</a>
						</li>
					</ul>
					<!-- //New products -->


					<!-- Top products -->
			  		<h2 class="h2_prod">Top products</h2> 
					<ul class="products_index top">
						<li>
							<a href="#">
								<span class="img akcent top">
									<img src="img/zaglushka.gif" width="250" height="235" alt="">
								</span>
								<span class="box_zag_price">
									<span class="zag">Ushingham Lightning 2014 </span>
									<span class="box_price">
										<span class="price">€.2,960.95</span>
										<span class="old_price">€.3,100.15</span>
									</span>
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="img akcent top">
									<img src="img/zaglushka.gif" width="250" height="235" alt="">
								</span>
								<span class="box_zag_price">
									<span class="zag">Cypher heat ves M</span>
									<span class="box_price">
										<span class="price">€.849.95</span>
										
									</span>
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="img akcent top">
									<img src="img/zaglushka.gif" width="250" height="235" alt="">
								</span>
								<span class="box_zag_price">
									<span class="zag">Syncro womens QS M</span>
									<span class="box_price">
										<span class="price">€.1,110.99</span>
										
									</span>
								</span>
							</a>
						</li>					
					</ul>
					<!-- //Top products -->

					<!-- Sale products -->
			  		<h2 class="h2_prod">Sale products</h2> 
					<ul class="products_index sale">
						<li>
							<a href="#">
								<span class="img akcent sale">
									<img src="img/zaglushka.gif" width="250" height="235" alt="">
								</span>
								<span class="box_zag_price">
									<span class="zag">Syncro mens QS M</span>
									<span class="box_price">
										<span class="price">€.249.95</span>
										<span class="old_price">$450.15</span>
									</span>
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="img akcent sale">
									<img src="img/zaglushka.gif" width="250" height="235" alt="">
								</span>
								<span class="box_zag_price">
									<span class="zag">Ramos - shirt for men</span>
									<span class="box_price">
										<span class="price">€.459.65</span>
										<span class="old_price">€.570.65</span>
									</span>
								</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="img akcent sale">
									<img src="img/zaglushka.gif" width="250" height="235" alt="">
								</span>
								<span class="box_zag_price">
									<span class="zag">SixSixOne Evo Wired Full Face </span>
									<span class="box_price">
										<span class="price">€.240.00</span>
										<span class="old_price">€.370.65</span>
									</span>
								</span>
							</a>
						</li>					
					</ul>
					<!-- //Sale products -->
				</div>			 
			</div>	
		</div>
		<!-- //content lcol -->

		<!-- content no col -->
		<div class="box">
			<div class="middle-box">
					<!-- brand_index -->  
					<ul class="brand_index">
						<li><a href="#"><img src="img/brand/1.gif" width="115" height="26" alt=""></a></li>
						<li><a href="#"><img src="img/brand/1.gif" width="115" height="26" alt=""></a></li>
						<li><a href="#"><img src="img/brand/1.gif" width="115" height="26" alt=""></a></li>
						<li><a href="#"><img src="img/brand/1.gif" width="115" height="26" alt=""></a></li>
						<li><a href="#"><img src="img/brand/1.gif" width="115" height="26" alt=""></a></li>
						<li><a href="#"><img src="img/brand/1.gif" width="115" height="26" alt=""></a></li>
						<li><a href="#"><img src="img/brand/1.gif" width="115" height="26" alt=""></a></li>
						<li><a href="#"><img src="img/brand/1.gif" width="115" height="26" alt=""></a></li>
					</ul>
					<!-- //brand_index -->

					<!-- insta -->
					<div class="box_insta_index">
						<h2 class="h2_insta">Instagram feed: <span>#surfhouse</span></h2>
						<ul class="insta_index">
							<li><a href="#" class="img"><img src="img/insta/1.jpg" width="185" height="185" alt=""></a></li>
							<li><a href="#" class="img"><img src="img/insta/2.jpg" width="185" height="185" alt=""></a></li>
							<li><a href="#" class="img"><img src="img/insta/3.jpg" width="185" height="185" alt=""></a></li>
							<li><a href="#" class="img"><img src="img/insta/4.jpg" width="185" height="185" alt=""></a></li>
							<li><a href="#" class="img"><img src="img/insta/5.jpg" width="185" height="185" alt=""></a></li>
							<li><a href="#" class="img"><img src="img/insta/6.jpg" width="185" height="185" alt=""></a></li>
						</ul>
					</div>
					<!-- //insta -->

					
			</div>	
		</div>
		<!-- //content1 no col -->
	</div>
{% include 'footer.inc.html' %}	